
antiQS/.idea/antiQS.iml

antiQS/cmake-build-debug/antiQS

*.xml

*.cbp

*.check_cache

*.bin

*.xml

*.xml

*.cmake

*.c

*.make

*.includecache

*.internal

*.o

antiQS/cmake-build-debug/CMakeFiles/clion-environment.txt

antiQS/cmake-build-debug/CMakeFiles/clion-log.txt

*.log

*.cxx

antiQS/cmake-build-debug/CMakeFiles/Makefile2

antiQS/cmake-build-debug/CMakeFiles/TargetDirectories.txt

antiQS/cmake-build-debug/Makefile

*.iml

*.marks

races/.idea/workspace.xml

radix/.idea/workspace.xml
